body {
    overflow-x: hidden;
}
/*btn*/
.dropdown-btn,a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
    outline: none;}
.dropdown-container {
    display: none;
    padding-left: 8px;
}
.dropdown-container a {
    font-size: 15px;
    border-bottom: 1px solid #D6D6D6;
    margin-top: 10px;
}
/*end*/
.main{
    width: 320px;
    height: auto;
    margin-left: -570px;
    position: absolute;
}

.navbar .bars i{
	color: black;	
	font-size: 20px;
	cursor: pointer;
}
.custom{
	background-color: white;
    margin-left: -65px;
    width: 320px;
	height: auto;
    z-index: 99999;

}

.navbar{
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 0;
    margin: 0;
    border-top: 4px solid #FD6275;
    border-bottom: 0.5px solid rgba(237, 237, 237, 100%);
    background-color: white;
}
/*end navrbar*/
/*start jquery navbar*/
.main-ul{
	  margin-left: 5%;
    font-size: 20px;
    color: white;
    list-style-type: none;
    margin-top: 20%;
}

.main-ul li{
	padding: 3%;
	cursor: pointer;
}

.main-ul li a {
    list-style-type: none;
    color:black;
    
}
.main-ul li .dash {
    color: black;
}
.main-ul  a:hover {
    color: #FD6275;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.main-ul .dropdown {
    margin-top: 30px;
}
.main-ul .dropdown .btn {
    width: 70%;
}
.social-media{
	margin-left:85%;
    margin-top: 10px;

}
.social-media .dropdown-container a:hover {
        color: #FD6275;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}


/*end jquery navbar*/
.main-ul img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-top: -8px;
}
.main-ul .icon {
    margin-left: 6px;
}

