body {
    overflow-x: hidden;
}
/*btn*/
.dropdown-btn,a {
  padding: 8px 8px 6px 4px;
  text-decoration: none;
  font-size: 13px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
    outline: none;}
.dropdown-container {
    display: none;
    padding-left: 8px;
}
.dropdown-container a {
    font-size: 15px;
    border-bottom: 1px solid #D6D6D6;
    margin-top: 10px;
    text-align: center;
}
/*end*/
.navbar {
     box-shadow: 0 6px 20px 0 rgba(139, 139, 139, 0.09), 0 0 0px 0 rgba(0, 0, 0, 0.19);
}

.main{
    width: 320px;
    height: 650px;
    margin-left: -570px;
    position: absolute;
    margin-top: -45px;
    transition: 0.2s;
}

.navbar .bars i{
	color: black;	
	font-size: 20px;
	cursor: pointer;
    margin-top: 8px;
}
.navbar .bars i img {
    height: 40px;
    width: 50px;
}
.navbar .bars i span {
    font-size: 17px;
    margin-left: 5px;
}

.custom{
	background-color: #fff;
    margin-left: -65px;
    width: 320px;
	height: 650px;
	height: 750px;
    z-index: 99999;
    transition: 0.5s;
}

.main-ul .pic {
    margin-left: 10px;
    margin-top: 7px;
}
.main-ul .pic img {
    width: 75px;
    height: 60px;
    margin-left: 20px;
}

.navbar{
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 0;
    margin: 0;
    border-top: 4px solid #FD6275;
    border-bottom: 0.5px solid rgba(237, 237, 237, 100%);
    background-color: white;
}
/*end navrbar*/
/*start jquery navbar*/
.main-ul{
    font-size: 20px;
    color: white;
    list-style-type: none;
    overflow: hidden;
}



.main-ul  a {
    list-style-type: none;
    color:black;
    
}
.main-ul li .dash {
    color: black;
}
.main-ul a:hover {
    color: #FD6275;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.main-ul .dropdown {
    margin-top: 30px;
}
.main-ul .dropdown .btn {
    width: 70%;
}
.social-media{
	margin-left:95%;
    margin-top: 10px;
}
.social-media .dropdown-container {
    margin-left: -121px;
    margin-top: 1px;
    width: 175px;

}

.social-media  {
    z-index: 99999;
}
.social-media .dropdown-container a:hover {
        color: #FD6275;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

/*end jquery navbar*/
.main-ul img {
    width: 25px;
    height: 25px;
    margin-right: 27px;
    margin-top: -8px;
}
.main-ul .icon {
    margin-left: 6px;
}
.navbar .panel-group .panel{
    margin-bottom: 5px;
    border: none;
}
.panel-group {
    margin-top: 30px;
}
.panel-default>.panel-heading{
    background-color: white;
    
}
.nav .edit {
    margin-left: 7px;
    list-style-type: none;
    color:black;
}
.nav .move {
    margin-left: 95px;
}
.nav .move-admin{
    margin-left: 83px;
}
.nav .move-hall {
    margin-left: 101px;
}
.nav  .panel-body a {
    margin-left: 58px;
}
.nav .panel-title a {
    font-size: 16px;
}
.nav .panel .panel-collapse .panel-body a {
    margin-bottom: -22px;
}
.nav .panel-body hr {
    margin-top: 30px;
    margin-bottom: 4px;
    margin-left: 59px;
}
.nav .panel-body .edit-update {
    padding-bottom: 20px;
}
.name .text-center {
    font-size: 25px;
}
.tab {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.dropdown-container {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.19);
  z-index: 1;
    margin-top: 15px;
}
.roles {
    margin-bottom: 10px;
    font-size: 15px;
    width: 20%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #707070;
}
