/*start*/
.board h3 {
    font-weight: 700;
    margin-left: 70px;
}
.card {
    width: 230px;
    height: 90px;
    margin: 50px auto;
    position: relative;
    color: black;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.19);

}
.card h1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.card img {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: 20px;
}
.card span {
    margin-left: 37px;
    font-size: 20px;
}
.small {
    width: 100px;
    height: 80px;
    margin: 40px auto;
    position: relative;
    color: black;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.19);
    text-align: center;
    margin-top: -40px;
    margin-left: 30px;

}
.small span {
    font-size: 18px;
    
}
.small h1 {
    font-size: 20px;
    padding-top: 10px;
}
.w {
    margin-right: 90px;
    margin-left: 23px;
}
/* end */