.priv button {
    border-radius: 10px;
    width: 10%;
    padding: 0.5em;
    background-color: #FD6275;
    color: white;
    border: none;
    margin-top: 8px;
    margin-left: 11px;
}
.priv {
    text-align: center;
    margin-top: 15px;
}
.priv .edit {
      position: absolute;
        right: 5%;
    margin-top: -1px;
    display: none;
        width: 15%;

}
.priv .save {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 30%;
    display: none;
} 
