.search-container input {
    width: 20%;
    margin-bottom: 1em;
    border: 1px solid #707070;
    padding: 0.4em;
    resize: none;
    border-radius: 10px;
    margin-left: 500px;
}
.search-container button {
    border-radius: 10px;
    width: 10%;
    padding: 0.4em;
    background-color: #FD6275;
    color: white;
    border: none;
    margin-top: 8px;
}