.search-container input {
    width: 35%;
    margin-bottom: 1em;
    border: 1px solid #707070;
    padding: 0.5em;
    resize: none;
    border-radius: 10px;
}
.search-container button {
    border-radius: 10px;
    width: 10%;
    padding: 0.5em;
    background-color: #FD6275;
    color: white;
    border: none;
    margin-top: 8px;
    margin-left: 11px;
}
.search-container {
    text-align: center;
    margin-top: 15px;
}